* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9ecef;
    cursor: pointer;
}

header {
    background-color: #fff;
    height: 8vh;
    display: flex;
    z-index: 9999;
    position: relative;
}

header .logo {
    background-color: #5d81a7;
    height: 100%;
    display: flex;
    padding-left: 15px;
    align-items: center;
    width: 18%;
    cursor: pointer;
}

header .logo a {
    text-decoration: none;
}

header .logo span {
    color: #ffffff;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}

header .search-bar {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

header .search-bar .search-box {
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    padding: 0 5px;
    background: #e1e6eb;
}

header .search-bar .search-box i {
    font-size: 20px;
}

header .search-bar .search-box input {
    border: 0;
    outline: 0;
    background: #e1e6eb;
    height: 38px;
}

header .icon-bar {
    display: flex;
    align-items: center;
    margin-left: 450px;
}

header .icon-bar .icon-box {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .icon-bar .icon-box a {
    margin: 0 10px;
}


header .icon-bar .icon-box a i {
    font-size: 20px;
    color: #1d1d1d;
}

header .profile-bar {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

header .profile-bar .profile-box {
    display: flex;
    align-items: center;
}

header .profile-bar .profile-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header .profile-bar .profile-box .name {
    margin: 0 5px;
    display: flex;
    cursor: pointer;
}

header .profile-bar .profile-box .name h6 {
    margin: 0;
}

header .profile-bar .profile-box .name .arr {
    border-top: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    width: 10px;
    height: 10px;
    margin: 0 5px;
    transform: rotate(135deg);
}

header .menu {
    position: absolute;
    top: 100%;
    right: 0;
}

header .menu ul {
    margin: 0;
    padding: 0;
    background-color: #3e4e5f;
}

header .menu ul a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
}

header .menu ul a i {
    padding-left: 5px;
    font-size: 16px;
}

header .menu ul a li {
    list-style: none;
    font-size: 15px;
    padding: 5px 2px;
    padding-right: 40px;
    font-family: sans-serif;
}

header .menu ul a:hover {
    background-color: #586b80;
}

.content-bar {
    height: 92vh;
    width: 100%;
    display: flex;
    position: fixed;
}

.content-bar .nav {
    background-color: #1b2f45;
    width: 18%;
    /* overflow: scroll; */
}

.content-bar .nav ul {
    padding: 0;
    list-style: none;
    margin: 0;
    width: 100%;
}

.content-bar .nav ul li .dropdownButton {
    padding: 10px 18px;
    font-size: 16px;
    color: #d9dee3;
    text-transform: capitalize;
    cursor: pointer;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    position: relative;
}

.content-bar .nav ul li .dropdownButton:hover {
    background: #2ea7ff;
    color: #ffffff;
}

.content-bar .nav ul li .dropdownButton i {
    font-size: 15px;
    margin-right: 1px;
}

.content-bar .nav ul li .dropdownButton .nav-arr {
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    position: absolute;
    right: 5px;
    transform: rotate(-45deg);
    /* color: #bec2c7; */
}

.content-bar .nav ul li ul li {
    padding: 10px 38px;
    list-style: none;
    cursor: pointer;
    background-color: #39526d;
}

.content-bar .nav ul li ul li:hover {
    background: #2ea7ff;
    color: #fff;
}

.content-bar .nav ul li ul a {
    text-decoration: none;
}

.content-bar .nav ul li ul a li {
    color: #dbdbdb;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    font-family: sans-serif;
}

.content-bar main {
    width: 82%;
    padding: 50px 20px;
    overflow: scroll;
}

.content-bar main table tbody tr {
    padding: 0 5px;
}

.content-bar main table tbody tr td {
    text-transform: capitalize;
}

.content-bar main table tbody tr .button {
    display: inline-flex;
    ;
}

.content-bar main table tbody tr td form {
    margin: 0 2px;
}

main .container .card .table-responsive table tbody tr td .btn {
    padding: 2px 7px;
}

@media (max-width: 1024px) {
    header .icon-bar {
        margin-left: 350px;
    }
}